<div *ngIf="currentUser === ''">
    <input type="text" id="username" placeholder="Username" [(ngModel)]="userId" />
    <button (click)="charService.login(userId); ngOnInit()">
    Login
  </button>
</div>
<span *ngIf="currentUser !== ''">
  <br>
  Logged in as: {{currentUser}}
  <button class="buttonStyle" (click)="charService.logout(); ngOnInit()">Logout</button>    
  <br>


  <br>
</span>
<div *ngIf="currentUser !== ''">
    <div *ngFor="let c of allCharacters">
        <p>Class: {{c.class}} SubClass: {{c.subclass}}</p>


        <button class="buttonStyle" *ngIf="currentUser !== '' && !isFavorited(c.pkId)" (click)="createFavorite(c.pkId)">Favorite</button>
        <button class="buttonStyle" *ngIf="currentUser !== '' && isFavorited(c.pkId)" (click)="deleteFavorite(c.pkId)">Remove from favorites</button>
    </div>
</div>