<div class="center">

    <div *ngIf="currentUser === ''">
        <input type="text" id="username" placeholder="Username" [(ngModel)]="userId" />
        <br />
        <button (click)="charService.login(userId); ngOnInit()">
            Login
        </button>
    </div>
    <span *ngIf="currentUser !== ''">
        <br>
        Logged in as: {{currentUser}}
        <button class="buttonStyle" (click)="charService.logout(); ngOnInit()">Logout</button>
        <br>

        <div *ngIf="currentUser !== ''">
            <h4>
                <label for="classes">Select a class:</label>
            </h4>
            <!-- <br /> -->
            <select [(ngModel)]="class">
                <option value="default">----</option>
                <option *ngFor="let character of characters">{{ character }}</option>
            </select>
            <br>
            <h4>
                <label for="subclasses">Select a subclass: </label>
            </h4>
            <!-- <br /> -->
            <select [(ngModel)]="subclass">
                <option value="default">----</option>
                <option *ngFor="let subclass of subclasses">{{ subclass }}</option>
            </select>
            <br>
            <br/>
            <h3>Set your stats:</h3>
            <br>
            <h5>Strength</h5>
            <input type="number" min="0" max="20" [(ngModel)]="strength" placeholder="Strength">
            <br>
            <h5>Dexterity</h5>
            <input type="number" min="0" max="20" [(ngModel)]="dexterity" placeholder="Dexterity">
            <br>
            <h5>Constitution</h5>
            <input type="number" min="0" max="20" [(ngModel)]="constitution" placeholder="Constitution">
            <br>
            <h5>Intelligence</h5>
            <input type="number" min="0" max="20" [(ngModel)]="intelligence" placeholder="Intelligence">
            <br>
            <h5>Wisdom</h5>
            <input type="number" min="0" max="20" [(ngModel)]="wisdom" placeholder="Wisdom">
            <br>
            <h5>Charisma</h5>
            <input type="number" min="0" max="20" [(ngModel)]="charisma" placeholder="Charisma">
            <br/>
            <br/>
            <button (click)="createNewCharacter()">Create</button>
        </div>
    </span>
</div>