<div *ngIf="currentUser === ''">
    <input type="text" id="username" placeholder="Username" [(ngModel)]="userId" />
    <button (click)="charService.login(userId); ngOnInit()">Login</button>
</div>
<span *ngIf="currentUser !== ''">
  <br />
  Logged in as: {{ currentUser }}
  <button class="buttonStyle" (click)="charService.logout(); ngOnInit()">
    Logout
  </button>
  <br />

  <label for="classes">Select a cartoon to battle:</label>
  <br />
  <br />
  <select [(ngModel)]="cartSearch">
    <option value="default">----</option>
    <option *ngFor="let c of searchedToons">{{ c.name }}</option>
  </select>

  <br />
  <label for="classes">Select a favorite to battle:</label>
  <br />
  <br />
  <select [(ngModel)]="favSearch">
    <option value="default">----</option>
    <option *ngFor="let s of searchedCharacters">{{ s.class }}</option>
  </select>
<button (click)="battle(cartSearch, favSearch); ngOnInit()">Battle</button>
  <br />

  <!-- <div *ngFor="let c of searchedToons">
    Name: {{c.name}} &nbsp; Heavy Attack: {{c.heavyAttack}} &nbsp; Light Attack: {{c.lightAttack}} &nbsp;

</div> -->
</span>