/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

header {
  font-weight: bold;

}

body {
  /* text-align: center; */
  background-image: linear-gradient(90deg, rgb(30, 31, 34), rgb(102, 27, 27));
  color: rgb(250, 250, 250);
}

.search-results {
    /* text-align: center; */
    font-weight: bold;
    color:rgb(250, 250, 250);
    background-color: rgb(43, 43, 43);
    border-style: double;
    margin: 100px;
    /* padding: 10px; */
    font-size: 18px;
    
}