<div>
    <label for="classes">Select a class:</label>

    <select [(ngModel)]="search">
    <option value="default">----</option>
    <option *ngFor="let character of characters">{{ character }}</option>
  </select>

    <p>Name: {{ search }}</p>

    <div *ngIf="search === 'Barbarian'">
        <p>SubClass: {{ subclasses[0] }}</p>
        <p>
            The straight forward heavy hitter. Uses large weapons to attack and is extremely durable.
        </p>
    </div>

    <div *ngIf="search === 'Bard'">
        <p>SubClass: {{ subclasses[9] }}</p>
        <p>
            A magical musician who supports their allies and hinders their enemies with music.
        </p>
    </div>
    <div *ngIf="search === 'Cleric'">
        <p>SubClass: {{ subclasses[8] }}</p>
        <p>The versitile healer that can also hold their own in a fight.</p>
    </div>
    <div *ngIf="search === 'Druid'">
        <p>SubClass: {{ subclasses[7] }}</p>
        <p>
            An environmental caster who uses the land to help or harm. They also have the ability to shapeshift into animals for combat and mobility.
        </p>
    </div>
    <div *ngIf="search === 'Fighter'">
        <p>SubClass: {{ subclasses[1] }}</p>
        <p>
            A jack of all trades in combat, able to use almost any weapon effectively.
        </p>
    </div>
    <div *ngIf="search === 'Monk'">
        <p>SubClass: {{ subclasses[10] }}</p>
        <p>
            A master at martial arts able to dodge and deflect blows with excellent mobility.
        </p>
    </div>
    <div *ngIf="search === 'Paladin'">
        <p>SubClass: {{ subclasses[2] }}</p>
        <p>
            The stalwart defender able to protect and heal allies with holy power.
        </p>
    </div>
    <div *ngIf="search === 'Ranger'">
        <p>SubClass: {{ subclasses[6] }}</p>
        <p>
            An expert at tracking and hunting that gets stronger in their prefered terrain.
        </p>
    </div>
    <div *ngIf="search === 'Rogue'">
        <p>SubClass: {{ subclasses[11] }}</p>
        <p>
            Masters of stealth, stealing, and trickery, they are hard to pin down and love attacking those with their guards down.
        </p>
    </div>
    <div *ngIf="search === 'Sorcerer'">
        <p>SubClass: {{ subclasses[3] }}</p>
        <p>A natural mage able to bend the laws of magic for their benefit.</p>
    </div>
    <div *ngIf="search === 'Warlock'">
        <p>SubClass: {{ subclasses[5] }}</p>
        <p>
            Servents to a higher power, these powerful casters use potient magic that comes at a price.
        </p>
    </div>
    <div *ngIf="search === 'Wizard'">
        <p>SubClass: {{ subclasses[4] }}</p>
        <p>
            Students of magic that study an extremely large variety of spells and able to turn any situation in their favor.
        </p>
    </div>
</div>